@import 'variables';
/*================================================
Main Banner CSS
=================================================*/

.main-banner {
  width: 85%;
  margin: auto;
  margin-top: 40px;

  .header-title {
    color: $title-blue-color;
    margin-bottom: 30px;

    .navbar-brand {
      display: flex;
      align-items: center;
      img {
        height: 60px;
      }
      span {
        font-size: 18px;
        color: $title-blue-color;
        margin-left: 10px;
        align-self: flex-end;
        line-height: 1;
      }
    }
  }

  .main-body {
      position: relative;
      z-index: 1;
      //background: transparent url(../images/banner-bg1.jpg) right top no-repeat;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0px;

      .main-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        background: $gradient-color;
        border-radius: 30px;
        clip-path: polygon(0% 0%, 100% 0%, 85% 0%, 65% 100%, 0% 100%);
        padding: 10% 0px;
        padding-left: 12%;

        .hero-content {
          color: #fff;
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: center;
          width: 100%;

          h1, h3 {
            color: #fff
          }

          h1 {
            font-weight: 500;
            font-size: 3rem;
          }

          h3 {
            font-family: $font-family-title;
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 15px;
          }

          .sub-title {
            font-size: 1.6rem;
            width: max-content;
            padding: 10px 15px;
            background-color: #fff;
            color: #284b6d;
            border-radius: 10px;
            margin-top: 50px;
          }

          .hero-content-title {
            h1 {
              color: #fff;
              margin-bottom: 5px;
              font-size: 3rem;

              .pre-title {
                font-family: $font-family-title;
                font-weight: bold;
              }

              .opt-title {
                font-size: 3rem;
                font-weight: normal;
              }
            }
          }
        }
      }

      .main-illustration {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        margin: 80px 0px;
        position: absolute;
        width: 50%;
        right: 0;

        img {
          width: 60%;
        }
      }

      .banner-form {
          background: $white-color;
          -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          padding: 50px 30px;
          border-radius: 5px;

          form {
              .form-control {
                  padding-left: 15px;
              }
              .btn {
                  display: block;
                  width: 100%;
                  -webkit-transform: unset;
                  transform: unset;
                  margin-top: 25px;
              }
          }
      }
      .banner-image {
          position: relative;

          &.single-banner-image {
              img {
                  display: block;
                  position: relative;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
              }
          }
      }
  }
}

@media only screen and (min-width : 1550px) {

}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {
  .main-banner .main-body .main-illustration {
    display: none;
  }

  .main-banner .main-body .main-content {
    clip-path: polygon(0% 0%, 100% 0%, 94% 0%, 75% 100%, 0% 100%);
  }
}

@media only screen and (max-width : 425px) {
  .main-banner .main-body .main-content {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
