@import 'variables';

/*================================================
Section6 CSS
=================================================*/



.section6 {
  padding-top: 40px;
  padding-bottom: 40px;

  .vmb-wrapper {
    .vmb-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .vmb-title {
        h2 {
          font-family: $font-family;
          font-weight: bold;
          font-size: 2rem;
          color: $text-blue-color;
          display: flex;
          align-items: center;

          &:before {
            content: ' ';
            width: 60px;
            border: 1px solid #21516a;
            height: 1px;
            display: block;
            margin-right: 10px;
          }
        }

        h1 {
          font-family: $font-family-title;
          font-weight: bold;
          background: $gradient-color-webkit;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 20px;
          font-size: 3rem;
        }

      }

      .vmb-map-container {
        width: 55%;
        position: relative;

        .vmb-map-vignette {
          animation-name: fadeInDown;
          visibility: visible;
          animation-delay: 0.4s;
          position: absolute;
          width: 20%;
          border: 4px solid #fff;
          border-radius: 20px;

          &.vmb-map-vignette-1 {
            top: 15%;
            left: 12%;
          }

          &.vmb-map-vignette-2 {
            bottom: 10%;
            left: 20%;
            width: 16%;
          }

          &.vmb-map-vignette-3 {
            top: 50%;
            left: 48%;
            width: 23%;
          }

          &.vmb-map-vignette-4 {
            top: 12%;
            left: 80%;
            width: 30%;
          }
        }
      }
    }
  }
}


@media only screen and (min-width : 1550px) {

}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width: 767px) {
  .section6 .vmb-title {
    padding: 20px 20px;
  }
}
